<div class="login-page">
  <div class="form">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login-form">
      <input
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="user.email"
        required
        email
      />

      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="user.password"
        required
      />

      <button type="submit">Login</button>
      <p class="message">
        Not registered? <a routerLink="/register">Create an account</a>
      </p>
    </form>
  </div>
</div>
