.form-container {
  background-color: #f0ece6;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.form-group {
  flex: 1 1 30%;
  min-width: 200px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

p {
  color: #28a745;
  font-size: 16px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  width: 300px;
}

.search-container button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}
